<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Add Task</h2>
        <form id="taskForm" action="/add_task" method="POST">
            <label for="name">Type</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="description">Task</label>
            <textarea id="description" name="description" required></textarea><br><br>
            <label for="dueDate">Date:</label>
            <input type="date" id="dueDate" name="due_date" required><br><br>
            <button type="submit">Submit</button>
            <a href="/tasks">Show Data</a>
        </form>
        
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
